/*css初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
    margin: 0;
    padding: 0;
}
fieldset,img,button{
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul,ol{
    list-style: none;
}
input{
    padding-top:0;
    padding-bottom: 0;
    font-family: "SimSun","宋体";
}
select,input{
    vertical-align: middle;
}
select,input,textarea
{
    font-size: 12px;
}
/*防止拖动*/
textarea {
    resize: none;
}
/*  去掉图片低测默认的3像素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}

body {
    color: #666;
    background: #F7F8F8;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}
#s_head {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    background: #F7F8F8;
}
#s_head .logo{
    float: left;
}
#s_head .logo_1{
    float: right;
    width: 313px;
    margin-top: 12px;
}
#s_head .qf{
    clear: both;
}
#s_head .row .logo img{
    display: block;
    margin-left: 100px;
    width: 4vw;
}
#s_head .row .logo_1 img{
    display: block;
    width: 100%;
}
#s_head .row{
    margin: 0;
    padding: 0;
}
#s_head .col-md-3,.col-md-2,.col-md-4,.col-md-10{
    padding: 0;
}
#s_head .dh .dh_nr{
    float: left;
    margin-left:25px; 
}
#s_head .dh .dh_fx{
    float: right;
}
#s_head .dh ul li{
    float: left;
    cursor: pointer;

}
@media screen and (max-width:1280px){
    #s_head .row{
        width: 100%;
    }
    #s_head .dh .dh_fx .f1{
        margin-right: 14px;
    }
}
@media screen and (max-width:650px) {
    #s_head .row{
        width: 100%;
    }
    #s_head .row .logo{
        width: 4vw;
    }
    #s_head .row .logo_1{
        width: 55%;
    }
    #s_head .dh .dh_nr{
        -webkit-transform:scale(.85);
    }
    #s_head .dh .dh_fx .f1{
        position: absolute;
        width: 28px;
        height: 35px;
        margin-right: 25px;
        background-image: url(../images/top/navi_icons.png);
        background-repeat: no-repeat;
        right: 50px;
    }
}
#s_head .dh{
    width: 100%;
    background: #b19044;
    position: relative;
    line-height: 35px;
    text-align: left;
    height: 35px;
    min-width: 620px;
    padding-left: 15px;
}
#s_head .dh .dh_nr a{
    font-size: 18px;
    color: #fff;
    transition: all .5s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;
}
#s_head .dh .dh_nr a:hover{
    text-shadow: #333 2px 2px 2px;
}
#s_head .dh_nr .poo{
    display: none;
}
#s_head .dh .dh_nr li:hover .poo{
    display: block;
}
#s_head .dh .dh_fx li{
    width: 28px;
    height: 35px;
    margin-right: 25px;
    background-image: url(../images/top/navi_icons.png);
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}
#s_head .dh .dh_fx .f1{
    background-position: 7px 6px;
}
#s_head .dh .dh_fx .f2{
    background-position: 5px -24px;
}
#s_head .dh .dh_fx .fy{
    position: absolute;
    width: 100%;
    background: #F7F8F8;
    top: 35px;
    right: 0;
    /*transition: 2s all;*/
    z-index: 10;
}
#s_head .fy1 ul{
    width: 85%;
    margin:0 auto;
    z-index: 1;
    /*transition: 2s all;*/
}
#s_head .fy2 ul{
    width: 93%;
    margin:0 auto;
    z-index: 1;
    /*transition: 2s all;*/
}
#s_head .fy ul .fff{
    float: right;
    width: 21px;
    height: 0px;
    margin-top: 0px;
    transition: .5s all;
}
#s_head .fy ul .ff1{
    background: url(../images/top/share_qzone_gray.png);
    background-repeat: no-repeat;
}
#s_head .fy ul .ff2{
    background: url(../images/top/share_renren_gray.png);
    background-repeat: no-repeat;
}
#s_head .fy ul .ff3{
    background: url(../images/top/share_douban_gray.png);
    background-repeat: no-repeat;
}
#s_head .fy ul .ff4{
    background: url(../images/top/share_weibo_gray.png);
    background-repeat: no-repeat;
}
#s_head .fy .ff1:hover{
   background: url(../images/top/share_qzone_black.png);
    background-repeat: no-repeat;
}
#s_head .fy .ff2:hover{
    background: url(../images/top/share_renren_black.png);
    background-repeat: no-repeat;
}
#s_head .fy .ff3:hover{
    background: url(../images/top/share_douban_black.png);
    background-repeat: no-repeat;
}
#s_head .fy .ff4:hover{
    background: url(../images/top/share_weibo_black.png);
    background-repeat: no-repeat;
}
#s_head .dh .dh_fx .f1:hover{
    background-position: -18px 6px;
}
#s_head .dh .dh_fx .f2:hover{
    background-position: -20px -24px;
}
#s_head .dh .dh_fx .f1:hover .fff{
    margin-top: 15px;
    height: 25px;
    /*top: 35px;*/
    /*display: block;*/
}
#s_head .dh .dh_fx .f2:hover .fff{
    margin-top: 15px;
    height: 25px;
    /*top: 35px;*/
    /*display: block;*/
}
#s_head .dh_nr .poo img{
    display: block;
    margin: 0 auto;
    margin-top: -9px;
}

